.hero {
  color: azure;
  height: 500px;
  background: linear-gradient(90deg, rgba(119, 172, 241, 1) 0%, rgba(73, 73, 180, 1) 14%, rgba(173, 225, 251, 1) 94%);
  padding: 50px;
  text-align: center;
}

.hero-text {
  align-items: self-end;

  .circle-container {
    position: relative;
    width: 300px;
    height: 500px;
  }

  .circle-container {
    position: absolute;
    bottom: 100px;
    transform: translateX(10%);
    z-index: 0;
  }

  .circle-container2 {
    position: absolute;
    left: 70%;
    bottom: -110px;
    transform: translateX(80%);
    z-index: 0;
  }

  .login-button,
  .register-button {
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
  }

  .login-button {
    background:
      linear-gradient(90deg, rgba(173, 225, 251, 0.4374124649859944)14%, rgba(73, 73, 180, 0.5466561624649859)94%);
  }

  .register-button {
    background:
      linear-gradient(90deg, rgba(73, 73, 180, 0.5466561624649859) 14%, rgba(173, 225, 251, 0.4374124649859944) 94%);
  }

  .one {
    opacity: 0.3;
  }

  .three-container2 {
    opacity: 0.3;
  }

  .two {
    opacity: 0.6;
  }

  .three {
    opacity: 0.7;
  }
}

.hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2em;
  max-width: 600px;
  margin-bottom: 40%;
}

.person {
  position: relative;
  z-index: 2;
  /* Ensure the person is above the shadow */
}

.shadow {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 0px;
  filter: blur(10px);
  z-index: 1;
}

.home-page-asset:hover .shadow {
  opacity: 0.3;
  transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
}

.ant-drawer-content-wrapper{
  position: absolute;
  margin-top: 8%;
  margin-right: 5%;
  border-radius: 25px;
  right: 0;
  bottom: 0;
  height: 75%;
  width: 378px;
  overflow:-moz-hidden-unscrollable;

}


.courses,
.usp-body,
.testimonials {
  padding: 50px;
  text-align: center;
}

.card-slider-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  gap: 10px;
  padding: 20px;
  flex: 1;
}

.usp-cover-image {
  width: 80%;
  height: 190px;
  border-radius: 17px;
  object-fit: "cover";
}

.card-slider-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}

.arrow-button {
  position: absolute;
  top: 100%;
  transform: translateY(0%);
  z-index: 1;
}

.left {
  font-size: xx-large;
  border: none;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  /* left: 10px; */
}

.right {
  font-size: xx-large;
  border: none;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  right: 10px;
}

.courses h2,
.usp h2,
.testimonials h2 {
  margin-bottom: 20px;
}

.testimonials h2 {
  margin-top: 100px;
}

#usp .usp-body {
  display: flex;
  justify-content: center;
  padding-left: 50px;
}


.footer {
  background: #f0f2f5;
  padding: 20px;
  text-align: center;
}